// Profile Template

extends layout

block content

    section
        h1#page_title= title

        h2 Update Profile

            form(method="POST", action="/profile/#{account.name}/update")
                p Name
                input(type="text", name="name", value="#{account.name}", placeholder="#{account.name")
                p Password
                input(type="password", name="password", value="#{account.password}", placeholder="#{account.password}")
                p Email
                input(type="text", name="email", value="#{account.email}", placeholder="#{account.email}")
                p Phone
                input(type="text", name="phone", value="#{account.phone}", placeholder="#{account.phone}")
                p Azure ASM Login
                input(type="text", name="azure_asm_login", value="#{account.azure_asm_login}", placeholder="#{account.azure_asm_login}")
                p Azure ASM Password
                input(type="password", name="azure_asm_password", value="#{account.azure_asm_password}", placeholder="#{account.azure_asm_password}")
                p Azure ARM Login
                input(type="text", name="azure_arm_login", value="#{account.azure_arm_login}", placeholder="#{account.azure_arm_login}")
                p Azure ARM Password
                input(type="password", name="azure_arm_password", value="#{account.azure_arm_password}", placeholder="#{account.azure_arm_password}")
                p
                button(type="submit") Update